header{
    display: flex;
    width: 100%;
    background-color: rgb(18, 18, 105);
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.boxLogo{
    display: flex;
    align-items: center;
}
.boxLogo img{
    width: 30px;
    height: 30px;
    padding: 10px;
}
.boxLogo h1{
    font-size: 30px;
    color: white;   
}
.boxLink{
   padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}